.live-clock {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1050%;
    font-weight: 450;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #fff;
    letter-spacing: -5px;
    -webkit-text-stroke: 1px #f6f6f6;
    -webkit-font-smoothing: antialiased;
}
