.quote {
    height: 80px;
    width: 100%;
    margin: 0;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
   }
   .quote-body,.quote-source {
    margin: 0;
    color:rgba(255,255,255,.9);
    line-height: 120%;
    transition: all .35s ease
   }
   .quote-body {
    width: 100%;
    display: block;
    position: relative;
    font-size: 112.5%;
   }
   .quote:hover .quote-body {
    transform: translateY(-50%)
   }
   
   .quote-source {
    position: absolute;
    font-weight: 300;
    left: 30%;
    right: 30%;
    bottom: 10px;
    font-size: 90%;
    opacity: 0;
    transform: translateY(-22px)
   }
   .quote:hover .quote-source {
    opacity: 1;
    transform: translateY(0)
   }
   .quote-source-text {
    margin-right: 3px;
    opacity: .75
   }

@media (max-width: 800px) {
    .quote {
        font-size: calc(9px + 1vmin);
    }
}
   