.weather__forecast {
    display: flex;
}

.weather {
    background-color: black;
    border: 0;
    opacity: 0.8;
    color: white;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

.weather__display__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.weather__display__info > img {
    width: 70px;
    height: 70px;
    margin: 5px;
}

.weather__display__header {
    text-align: left;
    margin-left: 4px;
}

.weather__display__content {
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: space-between;
}

.weather__display__temp {
    font-size: 40pt;
}

.weather__display__low {
    font-size: 25pt;
    margin-top: 14px;
    margin-left: 5px;
}

.weather__display__day {
    margin-left: 1em;
}

.weather__button {
    background-color: black;
    border: none;
    opacity: 0.8;
    color: white;
    border-radius: 4px;
    padding: 7px;
}

.weather__button:focus {
    outline: 0;
    background-color: #363636;
}

.weather__button > h4 {
    font-size: 9pt;
}

.weather__button__content {
    display: flex;
    align-items: center;
    align-content: center;
}

.weather__button__icon {
    width: 30px;
    height: 30px;
    margin-right: 2px;
}

.weather__button__font {
    font-size: 8pt;
}

/* Toggle Slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /*-webkit-transition: 0.4s;
    transition: 0.4s;*/
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    /*-webkit-transition: 0.4s;
    transition: 0.4s;*/
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.weather__toggle-btn > div > img {
    width: 30px;
    height: 30px;
}
