.links {
    background: black;
    opacity: 0.9;
    border-radius: 5px;
   /* max-width: 400px; */
    /*overflow-x: hidden;*/
    padding: 12px;
    /*width: 16vw;*/
}
.links__list {
    display: block;
    font-size: 15px;
    /*min-width: 280px;*/
    max-height: 36vh;
    overflow-y: auto;
    padding-bottom: 5px;
}
.links__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    color: white;
    padding: 3px 0 3px 0;
    /*width: 280px;*/
    margin-right: 5px;
}
.links__item__link {
    display: flex;
    align-items: center;
}
.links__item__link > a {
    text-decoration: none;
    color: white;
}
.links__item > div > img {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.links__item > button {
    background: transparent;
    color: white;
    border: none;
}
.links__input {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
    /*max-width: 280px;*/
    padding: 3px 0 0 0;
    text-align: left;
}
.links__input > div > input {
    outline: 0;
    color: white;
    background: transparent;
    border: none;
}
.links__input__new {
    text-decoration: none;
    color: white;
}
.links__input__delete {
    border-radius: 50%;
    outline: 0;
    background: transparent;
    color: white;
    border: none;
    width: 19px;
    height: 19px;
    padding: 0 5px 0 5px;
    align-self: flex-start;
    cursor: pointer;
}
/*.links__input__delete:hover {
    border: 1px solid white;
}*/
.links__item__delete {
    border-radius: 50%;
    outline: 0;
    background: transparent;
    visibility: hidden;
    width: 19px;
    height: 19px;
    color: white;
    border: none;
    padding: 1px 5px 2px 5px;
}
.links__item:hover .links__item__delete {
    visibility: visible !important;
}
.links__item__delete:hover {
    border: 1px solid white;
    visibility: visible !important;
}
