.timer {
    background-color: black;
    opacity: 0.8;
    color: white;
    border-radius: 5px;
}
.timer__list {
    max-height: 24vh;
    overflow-y: auto;
    margin-right: 7px;
    margin-bottom: 5px;
    padding-right: 3px;
}
.timer__item {
    display: flex;
    justify-content: space-around;
    margin: 2px;
    padding: 5px;
    font-size: 16pt;
}
.timer__item > button {
    width: 19px;
    border-radius: 50%;
}
.timer__item > input {
    border-radius: 5%;
    margin-right: 3px;
}
.timer__item__name {
    width: 100px;
    margin-right: 4px;
    font-size: 12pt;
}
.timer__item__number {
    width: 30px;
    font-size: 12pt;
}
.timer__item__btn {
    height: 20px;
    outline: 0;
    background-color: black;
    opacity: 0.8;
    color: white;
    margin-top: 2px;
}
.timer__item__btn:active {
    outline: 0;
}
.timer__control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 3px;
}
.timer__control > button {
    border: none;
    background-color: black;

    color: white;
    outline: 0;
    font-size: 16pt;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 3px;
}
.timer__control > button:active {
    outline: 0;
    background-color: #363636;
}
.timer__control__repeat {
    display: flex;
    align-items: flex-end;
    width: 48px;
}
.timer__control__repeat > input {
    width: 17px;
    height: 17px;
}
.timer__display {
    font-size: 40pt;
    color: white;
}
