.todo-list ul,
.todo-list li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0 0.25em;
}
.todo-container {
    width: 300px;
}
.todo-list {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    opacity: 0.75;
    padding-right: 0.25em;
}
.todo-list > h4 {
    margin-left: 0.75em;
}
.todo-item {
    display: flex;
    flex-wrap: no-wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    align-self: center;
    width: 300px;
}
.todo-item button {
    background-color: black;
    opacity: 0.75;
    color: white;
    padding-bottom: 3px;
    border: none;
    border-radius: 50%;
    visibility: hidden;
}
.todo-item:hover .todo-delete {
    visibility: visible !important;
}
.todo-delete:hover {
    border: 1px solid white;
    visibility: visible !important;
}
.todo-text {
    /* width: 17em; */
    overflow-wrap: break-word;
    margin: 0.25em auto;
    padding: 0.25em auto;
}
.todo-input {
    width: 300px;
    border: none;
    background-color: black;
    color: white;
    outline: 0px !important;
    -webkit-appearance: none;
    padding-left: 0.7em;
    padding-bottom: 0.5em;
    padding-top: 1em;
}
.todo-input::placeholder {
    font-size: 16px;
    font-weight: bold;
}
.todo-input > input:hover,
.todo-input > input:active {
    outline: 0px !important;
    -webkit-appearance: none;
}
.todo-button {
    margin-top: 1em;
}
.filter-options {
    display: flex;
    justify-content: space-around;
    width: 300px;
}
